<div>
  <h2>Todo List</h2>

  <!--create todo -->
  <div fxLayout="row">
    <input fxFlex="90" type="text" [(ngModel)]="todo.label" (keyup.enter)="createTodo()"
           placeholder="Insert a todo label" required maxlength="80" #label="ngModel">
    <div
      *ngIf="label.invalid && (label.dirty || label.touched)" class="errors">
      <div *ngIf="label.errors.required">Required.</div>
    </div>
    <button fxFlex (click)="createTodo();" class="action-button" [disabled]="!label.valid">Add</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todoList | sortByCreatedDate">
      <div class="sticker">
        <label class="check-container" fxFlex>
          <input type="checkbox" [(ngModel)]="todo.done" (change)="markAsDone(todo)">
          <span class="check-task"></span>
        </label>
        <a class="todo-label" fxFlex="90" routerLink="/detail/{{todo.id}}" [style.text-decoration]="todo.done ? 'line-through': ''">{{todo.label}}</a>
        <span class="delete-button" fxFlex="5" (click)="delete(todo)">x</span>
      </div>
    </li>
  </ul>
</div>
