<div>
  <h2>Todo List</h2>

  <!--create todo -->
  <div fxLayout="row">
    <input fxFlex="90" type="text" [(ngModel)]="todo.label" (keyup.enter)="createTodo()" placeholder="Insert a todo label">
    <button fxFlex (click)="createTodo();" class="action-button">Add</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todoList">
      <div class="sticker">
        <label class="check-container">
          <input type="checkbox" [(ngModel)]="todo.done" (change)="markAsDone(todo)">
          <span class="check-task"></span>
        </label>
        <a routerLink="/detail/{{todo.id}}" [style.text-decoration]="todo.done ? 'line-through': ''">{{todo.label}}</a>
        <span class="delete-button" (click)="delete(todo)">x</span>
      </div>
    </li>
  </ul>
</div>
