<div>
  <h2>Todo Details</h2>

  <form [formGroup]="todoForm" (submit)="save()" class="sticker">
    <label class="check-container" fxFlex="10">
      <input type="checkbox" formControlName="done">
      <span class="check-task"></span>
    </label>
    <input type="text" fxFlex="90" formControlName="label" placeholder="Label.." maxlength="80" required>

    <div
      *ngIf="todoForm.controls['label'].invalid && (todoForm.controls['label'].dirty || todoForm.controls['label'].touched)" class="errors">
      <div *ngIf="todoForm.controls['label'].errors.required">Required.</div>
    </div>
  </form>

  <div>
    <button class="action-button" (click)="goBack()">Go back</button>
    <button class="action-button" (click)="delete()">Delete</button>
    <button class="action-button" (click)="save()" [disabled]="!todoForm.valid">Save</button>
  </div>
</div>
