<div>
  <h2>Todo Details</h2>

  <div class="sticker">
    <label class="check-container" fxFlex="10">
      <input type="checkbox" [(ngModel)]="todoDetails.done">
      <span class="check-task"></span>
    </label>
    <input type="text" fxFlex [(ngModel)]="todoDetails.label" placeholder="Label..">
<!--    <input type="text" [(ngModel)]="todoDetails.label">-->
  </div>

  <div>
    <button class="action-button" (click)="goBack()">Go back</button>
    <button class="action-button" (click)="delete()">Delete</button>
    <button class="action-button" (click)="save()">Save</button>
  </div>
</div>
